.bender/

.bender_test/
hw/snitch/test/
hw/snax/test/
hw/test/sim/
hw/test-xyi/sim/
hw/test-xyi/mem/inst
.metals/
.scala-build/
*.txt
*.do

Bender.lock
.vscode/
__pycache__

// Modelsim Fiels
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out

// Docs
/site/
