# Copyright 2023 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

variables:
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: recursive
  # Enable colors in CI terminal
  TERM: ansi
  FORCE_COLOR: 1
  # Configure environment
  CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER: /usr/pack/gcc-9.2.0-af/linux-x64/bin/gcc
  LLVM_SYS_120_PREFIX: /usr/pack/llvm-12.0.1-af
  CMAKE: cmake-3.18.1
  # Override pip cache directory
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

default:
  before_script:
    source iis-setup.sh
  cache: &global_cache
    key:
      files:
        - pyproject.toml
    paths:
      - .cache/pip
    policy: pull


#########
# Setup #
#########

setup:
  cache:
    # inherit all global cache settings
    <<: *global_cache
    # override the policy
    policy: pull-push
  script:
    - echo "Setup completed."

##############
# Build docs #
##############

docs:
  needs: [setup]
  script:
    - make docs

#####################
# Python unit tests #
#####################

pytest:
  needs: [setup]
  script:
    - pytest

#################################
# Build Snitch cluster software #
#################################

snitch-cluster-sw:
  needs: [setup]
  script:
    - cd target/snitch_cluster
    - make sw
  artifacts:
    paths:
      - target/snitch_cluster/sw/**/build/*.elf
    expire_in: 1 day

#######################
# Standalone IP tests #
#######################

# Build and run all individual IP testbenches.
# Currently missing IP tests:
# - snitch_vm
# - snitch_ipu
# - snitch_dma
# - snitch
snitch-ip-tests:
  needs: [setup]
  parallel:
    matrix:
      - IP:
          - mem_interface
          - snitch_cluster
          - tcdm_interface
          - snitch_ssr
          - reqrsp_interface
  script:
    - cd hw/$IP
    - ./util/compile.sh
    - ./util/run_vsim.sh

########################
# Snitch cluster tests #
########################

# Verilator
snitch-cluster-vlt:
  needs: [setup, snitch-cluster-sw]
  script:
    - cd target/snitch_cluster
    - make bin/snitch_cluster.vlt
    - ./util/run.py sw/run.yaml --simulator verilator -j --run-dir runs/vlt

# VCS
snitch-cluster-vcs:
  needs: [setup, snitch-cluster-sw]
  script:
    - cd target/snitch_cluster
    - make bin/snitch_cluster.vcs
    - ./util/run.py sw/run.yaml --simulator vcs -j --run-dir runs/vcs

# Questa
snitch-cluster-vsim:
  needs: [setup, snitch-cluster-sw]
  script:
    - cd target/snitch_cluster
    - make bin/snitch_cluster.vsim
    - ./util/run.py sw/run.yaml --simulator vsim -j --run-dir runs/vsim
    # Test trace annotation
    - make SIM_DIR=./runs/vsim/simple annotate -j
    # Run additional, more extensive tests
    - cd sw/apps/blas/gemm/test && ./test.sh && cd -
    - cd sw/apps/dnn/transpose/test && ./test.sh && cd -
    - cd sw/apps/dnn/flashattention_2/test && ./test.sh && cd -

# Test OmegaNet TCDM interconnect
snitch-cluster-omega-vsim:
  needs: [setup]
  script:
    - cd target/snitch_cluster
    - make CFG_OVERRIDE=cfg/omega.json sw
    - make bin/snitch_cluster.vsim
    - ./util/run.py sw/run.yaml --simulator vsim -j --run-dir runs/vsim

# Test Multi-channel DMA
snitch-cluster-mchan-vsim:
  needs: [setup]
  script:
    - cd target/snitch_cluster
    - make CFG_OVERRIDE=cfg/dma_mchan.json sw
    - make bin/snitch_cluster.vsim
    - ./util/run.py sw/dma_mchan.yaml --simulator vsim -j --run-dir runs/vsim

############
# Non-free #
############

nonfree:
  needs: [setup]
  script:
    - make nonfree
    - make elab
