.bender/
Bender.lock
.vscode/
__pycache__

// File List Synthesis Files
*_flist.tcl

// Modelsim Files
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out

// Docs
/site/
/docs/generated/

target/streams/
target/scala*

