# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
site_name: Snitch Cluster
theme:
  name: material

  icon:
    repo: fontawesome/brands/github

repo_url: https://github.com/pulp-platform/snitch_cluster
repo_name: pulp-platform/snitch_cluster

markdown_extensions:
  - admonition
  - def_list
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
plugins:
  - include-markdown
  - macros:
      on_error_fail: true
use_directory_urls: false
extra:
  branch: main
nav:
  - Home: index.md
  - User Guide:
      - Getting Started: ug/getting_started.md
      - Repository Structure: ug/directory_structure.md
      - Tutorial: ug/tutorial.md
      - Documentation: ug/documentation.md
      # Remove
      # - Benchmarking: ug/benchmarking.md
      # - Trace Example: ug/example_trace.html
  - Reference Manual:
      - Hardware:
          - Snitch: rm/snitch.md
          - Snitch Cluster:
              - Overview: rm/snitch_cluster.md
              - Peripherals: rm/peripherals.md
              - Schema: schema-doc/snitch_cluster.md
          - Reqrsp Interface: rm/reqrsp_interface.md
          - Custom Instructions: rm/custom_instructions.md
          # - Solder: rm/solder.md
      - Software:
          - Pages: runtime/Pages/index.md
          - Files: runtime/Files/index.md
          - Classes: runtime/Classes/index.md
          - Examples: runtime/Examples/index.md
          - Modules: runtime/Modules/index.md
          - Namespaces: runtime/Namespaces/index.md
  - Publications: publications.md
