# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
site_name: Snitch Cluster
theme:
  name: material

  icon:
    repo: fontawesome/brands/github

repo_url: https://github.com/pulp-platform/snitch_cluster
repo_name: pulp-platform/snitch_cluster

markdown_extensions:
  - admonition
  - def_list
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
plugins:
  - include-markdown
  - mkdocstrings:
      handlers:
        python:
          paths:
            - util/sim
            - target/snitch_cluster/util
  - macros:
      on_error_fail: true
use_directory_urls: false
extra:
  repo: snitch_cluster
  branch: main
nav:
  - Home: index.md
  - User Guide:
      - Getting Started: ug/getting_started.md
      - Repository Structure: ug/directory_structure.md
      - Tutorial:
          - Base: ug/tutorial.md
          - Advanced:
              - Trace Analysis: ug/trace_analysis.md
      - Documentation: ug/documentation.md
      # Remove
      # - Trace Example: ug/example_trace.html
  - Reference Manual:
      - Hardware:
          - Snitch: rm/snitch.md
          - Snitch Cluster:
              - Overview: rm/snitch_cluster.md
              - Peripherals: rm/peripherals.md
              - Schema: schema-doc/snitch_cluster.md
          - Reqrsp Interface: rm/reqrsp_interface.md
          - Custom Instructions: rm/custom_instructions.md
          # - Solder: rm/solder.md
      - Software:
          - Simulation Utilities:
              - data_utils: rm/sim/data_utils.md
              - verif_utils: rm/sim/verif_utils.md
              - sim_utils: rm/sim/sim_utils.md
              - rm/sim/Simulation.md
              - rm/sim/Simulator.md
              - rm/sim/Elf.md
          - Snitch Target Utilities:
              - run.py: rm/snitch_target_utils/run.md
              - build.py: rm/snitch_target_utils/build.md
          - Snitch Runtime:
              - Pages: runtime/Pages/index.md
              - Files: runtime/Files/index.md
              - Classes: runtime/Classes/index.md
              - Examples: runtime/Examples/index.md
              - Modules: runtime/Modules/index.md
              - Namespaces: runtime/Namespaces/index.md
  - Publications: publications.md
