generated
project/*
!project/plugins.sbt
!project/build.properties
target
test_run_dir
.bsp
.scala-build
out
.bloop
.metals
src/main/scala/snax/csr_manager/CsrManParamGen.scala
src/main/scala/snax/streamer/StreamParamGen.scala
