# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Keep sorted.
mkdocs
# Last version compatible with python-3.6 (default on Ubuntu 18.04)
mkdocs-material <= 8.2.11
mkdocs-include-markdown-plugin
mkdocs-macros-plugin