# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Build Docker image and publish to pulp-platform's GHCR.
name: build-docker
on:
  push:
    branches: [jssc/double-buffering]
  workflow_dispatch:
jobs:
  build-docker:
    name: Deploy Docker image
    runs-on: ubuntu-22.04
    steps:
      # Free up disk space on Github-hosted runner
      - name: Disk usage
        run: df -h
      - uses: jlumbroso/free-disk-space@v1.3.1
        with:
          android: true
          dotnet: true
          haskell: true
          large-packages: true
      - name: Disk usage after freeing up space
        run: df -h
      # Actually build the Docker container
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      - name: GHCR Log-in
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: util/container/Dockerfile
          push: true
          tags: ghcr.io/pulp-platform/snitch_cluster:double-buffering
          build-args: |-
            SNITCH_LLVM_VERSION=latest
