# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Build Docker image and publish to pulp-platform's GHCR.
name: build-docker
on:
  push:
    branches:
      - '**'
  workflow_dispatch:
jobs:
  build-docker:
    name: Deploy Docker image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: GHCR Log-in
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          # cache-from: type=gha
          # cache-to: type=gha,mode=max`
          file: util/container/Dockerfile
          push: true
          tags: ghcr.io/pulp-platform/snitch_cluster:${{ github.ref_name }}
          build-args: |-
            SNITCH_LLVM_VERSION=latest
