# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Run functional regression checks
name: ci
on:
  push:
    branches: ["main"]
  pull_request:
jobs:
  ########
  # Docs #
  ########

  docs:
    name: Build documentation
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/pulp-platform/snitch_cluster:main
    steps:
      - uses: actions/checkout@v2
      - name: Build docs
        run: make docs

  ##############################################
  # Simulate SW on Snitch Cluster w/ Verilator #
  ##############################################

  sw-snitch-cluster-vlt:
    name: Simulate SW on Snitch Cluster w/ Verilator
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/pulp-platform/snitch_cluster@sha256:03c6b13b3c540d9f36722b183f694793293ca46558c13b8d55551ea7b01912bb
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Install DNN Python Modules
        run: |
          pip3 install -r sw/dnn/requirements.txt
      - name: Build Software
        run: |
          bender vendor init
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snitch_cluster.hjson \
          SELECT_RUNTIME=rtl \
          SELECT_TOOLCHAIN=llvm-snitch
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snitch_cluster.hjson
      - name: Build Hardware
        run: |
          make -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc) \
          CFG_OVERRIDE=cfg/snitch_cluster.hjson
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |
          ./run.py --simulator verilator \
          sw/runtime.yaml sw/snitch-cluster-runtime.yaml sw/custom-fp.yaml \
          sw/standard-fp.yaml sw/openmp.yaml sw/snitch-cluster-openmp.yaml \
          sw/blas.yaml sw/dnn.yaml -j

  ##############################################
  # Simulate SW on SNAX Cluster w/ Verilator #
  ##############################################

  sw-snax-mac-cluster-vlt-generic:
    name: Simulate SW on SNAX MAC Cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' &&
            github.ref_name == 'main' }}
          activate-environment: true
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax_mac_cluster.hjson
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax_mac_cluster.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax_mac_cluster.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml sw/snax-mac-run.yaml -j

  snax-alu-cluster-vlt-generic:
    name: Simulate SW on SNAX ALU Cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' &&
            github.ref_name == 'main' }}
          activate-environment: true
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax_alu_cluster.hjson
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax_alu_cluster.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax_alu_cluster.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-alu-run.yaml -j

  snax-hypercorex-cluster-vlt-generic:
    name: SNAX Hypercorex w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' &&
            github.ref_name == 'main' }}
          activate-environment: true
      # Need this for the hypercorex packages
      - name: Install prerequisites
        run: |
          pip install tqdm matplotlib
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax_hypercorex_cluster.hjson
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax_hypercorex_cluster.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax_hypercorex_cluster.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-hypercorex-run.yaml -j

  snax_dimc-cluster-vlt-generic:
    name: SNAX DIMC w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' &&
            github.ref_name == 'main' }}
          activate-environment: true
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax_dimc_cluster.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax_dimc_cluster.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)

  sw-snax-KUL-dse-cluster-3D-vlt-generic:
    name: Build KUL-dse-cluster-3D HW w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' &&
            github.ref_name == 'main' }}
          activate-environment: true
      - name: RTL GEN
        run: |
          make CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_3D.hjson \
          -C target/snitch_cluster rtl-gen
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_3D.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_3D.hjson
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-gemmx-matmul-run.yaml \
          sw/snax-gemmx-conv-run.yaml \
          sw/snax-data-reshuffler-run.yaml -j

  sw-snax-KUL-dse-cluster-2D-vlt-generic:
    name: Build KUL-dse-cluster-2D HW w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' &&
            github.ref_name == 'main' }}
          activate-environment: true
      - name: RTL GEN
        run: |
          make CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_2D.hjson \
          -C target/snitch_cluster rtl-gen
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_2D.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_2D.hjson
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-gemmx-matmul-run.yaml \
          sw/snax-data-reshuffler-run.yaml -j

  sw-snax-KUL-dse-cluster-1D-vlt-generic:
    name: Build KUL-dse-cluster-1D HW w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' &&
            github.ref_name == 'main' }}
          activate-environment: true
      - name: RTL GEN
        run: |
          make CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_1D.hjson \
          -C target/snitch_cluster rtl-gen
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_1D.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax_KUL_dse_cluster_1D.hjson
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-gemmx-matmul-run.yaml \
          sw/snax-gemmx-conv-run.yaml \
          sw/snax-data-reshuffler-run.yaml -j

  snax-KUL-cluster-vlt-generic:
    name: Simulate SW on KUL cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' &&
            github.ref_name == 'main' }}
          activate-environment: true
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax_KUL_cluster.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax_KUL_cluster.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax_KUL_cluster.hjson
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-xdma-run.yaml -j
