# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Run functional regression checks
name: ci
on: [push, pull_request]
jobs:

  ########
  # Docs #
  ########

  docs:
    name: Build documentation
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/pulp-platform/snitch_cluster:main
    steps:
      - uses: actions/checkout@v2
      - name: Build docs
        run: make docs

  ##############################################
  # Simulate SW on Snitch Cluster w/ Verilator #
  ##############################################

  sw-snitch-cluster-vlt:
    name: Simulate SW on Snitch Cluster w/ Verilator
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/pulp-platform/snitch_cluster:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build Software
        run: |
          bender vendor init
          make -C target/snitch_cluster sw
      - name: Build Hardware
        run: |
          make -C target/snitch_cluster bin/snitch_cluster.vlt
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |
          ./run.py sw/run.yaml --simulator verilator -j
      - name: Annotate traces
        working-directory: target/snitch_cluster
        run: |
          make LOGS_DIR=./runs/simple/logs annotate -j

  # Tests requiring hardware FDIV unit
  sw-snitch-cluster-fdiv-vlt:
    name: Simulate FDIV SW on Snitch Cluster w/ Verilator
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/pulp-platform/snitch_cluster:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build Software
        working-directory: target/snitch_cluster
        run: |
          bender vendor init
          make CFG_OVERRIDE=cfg/fdiv.hjson sw
      - name: Build Hardware
        working-directory: target/snitch_cluster
        run: |
          make CFG_OVERRIDE=cfg/fdiv.hjson bin/snitch_cluster.vlt
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |
          ./run.py sw/fdiv.yaml --simulator verilator -j

  #########################################
  # Build SW on Snitch Cluster w/ Banshee #
  #########################################

  sw-snitch-cluster-banshee:
    name: Simulate SW on Snitch Cluster w/ Banshee
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/pulp-platform/snitch_cluster:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build Software
        run: |
          bender vendor init
          make -C target/snitch_cluster SELECT_RUNTIME=banshee sw
      - name: Run Tests
        env:
          SNITCH_LOG: info
        working-directory: target/snitch_cluster
        run: |
          ./run.py sw/run.yaml --simulator banshee -j
