# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Run functional regression checks
name: ci
on:
  push:
    branches: ["main"]
  pull_request:
jobs:
  ########
  # Docs #
  ########

  docs:
    name: Build documentation
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/pulp-platform/snitch_cluster:main
    steps:
      - uses: actions/checkout@v2
      - name: Build docs
        run: make docs

  ##############################################
  # Simulate SW on Snitch Cluster w/ Verilator #
  ##############################################

  sw-snitch-cluster-vlt:
    name: Simulate SW on Snitch Cluster w/ Verilator
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/pulp-platform/snitch_cluster:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Install DNN Python Modules
        run: |
          pip3 install -r sw/dnn/requirements.txt
      - name: Build Software
        run: |
          bender vendor init
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/default.hjson
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/default.hjson
      - name: Build Hardware
        run: |
          make -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc) \
          CFG_OVERRIDE=cfg/default.hjson
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |
          ./run.py --simulator verilator \
          sw/runtime.yaml sw/snitch-cluster-runtime.yaml sw/custom-fp.yaml \
          sw/standard-fp.yaml sw/openmp.yaml sw/snitch-cluster-openmp.yaml \
          sw/blas.yaml sw/dnn.yaml -j

  ##############################################
  # Simulate SW on SNAX Cluster w/ Verilator #
  ##############################################

  sw-snax-mac-cluster-vlt-generic:
    name: Simulate SW on SNAX MAC Cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-mac.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-mac.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-mac.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml sw/snax-mac-run.yaml -j

  sw-snax-gemm-cluster-vlt-generic:
    name: Simulate SW on SNAX GEMM Cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic \
          CFG_OVERRIDE=cfg/snax-gemm.hjson
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-gemm.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-gemm.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml sw/snax-gemm-run.yaml -j

  sw-snax-streamer-gemm-cluster-vlt-generic:
    name: Simulate SW on SNAX Streamer GEMM Cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic \
          CFG_OVERRIDE=cfg/snax-streamer-gemm.hjson
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-streamer-gemm.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-streamer-gemm.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml sw/snax-streamer-gemm-run.yaml -j

  sw-snax-streamer-gemm-add-c-cluster-vlt-generic:
    name: Simulate SW on GEMM Add C w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-streamer-gemm-add-c.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-streamer-gemm-add-c.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-streamer-gemm-add-c.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-streamer-gemm-add-c-run.yaml -j

  snax-streamer-gemm-conv-cluster-vlt-generic:
    name: Simulate SW on SNAX GEMM for Conv2d w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-streamer-gemm-conv.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic -j$(nproc)
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-streamer-gemm-conv.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-streamer-gemm-conv.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml sw/snax-streamer-gemm-conv-run.yaml -j

  sw-snax-data-reshuffler-cluster-vlt-generic:
    name: Simulate SW on SNAX Data Reshuffler w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic \
          CFG_OVERRIDE=cfg/snax-data-reshuffler.hjson
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-data-reshuffler.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-data-reshuffler.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-data-reshuffler-run.yaml -j

  sw-snax-mac-mult-cluster-vlt-generic:
    name: Simulate SW on SNAX Multiple MAC Cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-mac-mult.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-mac-mult.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-mac-mult.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml sw/snax-mac-run.yaml \
          sw/snax-mac-mult-run.yaml -j

  snax-alu-cluster-vlt-generic:
    name: Simulate SW on SNAX ALU Cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-alu.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-alu.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-alu.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-alu-run.yaml -j

  snax-hypercorex-cluster-vlt-generic:
    name: SNAX Hypercorex w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      # Need this for the hypercorex packages
      - name: Install prerequisites
        run: |
          pip install tqdm matplotlib
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-hypercorex.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-hypercorex.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-hypercorex.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-hypercorex-run.yaml -j

  snax-streamer-simd-cluster-vlt-generic:
    name: Simulate SW on SNAX SIMD Cluster w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-streamer-simd.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-streamer-simd.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-streamer-simd.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-streamer-simd-run.yaml -j

  sw-snax-wide-gemm-data-reshuffler-cluster-vlt-generic:
    name: Simulate SW on Wide GEMM and Reshuffler w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-wide-gemm-data-reshuffler.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-wide-gemm-data-reshuffler.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)

  sw-snax-gemmX-cluster-vlt-generic:
    name: Simulate SW on GEMMX w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-streamer-gemmX.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-streamer-gemmX.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-streamer-gemmX.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-streamer-gemm-conv-simd-run.yaml -j

  sw-snax-KUL-cluster-vlt-generic:
    name: Build KUL-cluster HW w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: RTL GEN
        run: |
          make CFG_OVERRIDE=cfg/snax-kul-cluster-mixed-narrow-wide.hjson \
          -C target/snitch_cluster rtl-gen
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-kul-cluster-mixed-narrow-wide.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)

  snax-xdma-vlt-generic:
    name: Simulate SW on xdma w/ Verilator (Generic LLVM)
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/kuleuven-micas/snax:main
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Build Software
        run: |
          make -C target/snitch_cluster sw \
          CFG_OVERRIDE=cfg/snax-streamer-gemmX-xdma.hjson \
          SELECT_RUNTIME=rtl-generic \
          SELECT_TOOLCHAIN=llvm-generic
      - name: Generate RTL
        run: |
          make -C target/snitch_cluster rtl-gen \
          CFG_OVERRIDE=cfg/snax-streamer-gemmX-xdma.hjson
      - name: Build Hardware
        run: |
          make CFG_OVERRIDE=cfg/snax-streamer-gemmX-xdma.hjson \
          -C target/snitch_cluster bin/snitch_cluster.vlt -j$(nproc)
      - name: Run Tests
        working-directory: target/snitch_cluster
        run: |-
          ./run.py --simulator verilator \
          sw/runtime.yaml \
          sw/snax-streamer-gemm-conv-simd-run.yaml \
          sw/snax-xdma-run.yaml -j
