# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Run regression tests on Snitch's Docker container.
# Pull requests from forks cannot deploy the Docker container due to missing
# secrets, thus we only enable this workflow on push triggers.
name: ci
on: [push]

env:
  FORCE_COLOR: 1

jobs:

  ##########################
  # Build Docker Container #
  ##########################

  build-docker:
    name: Deploy Docker image
    runs-on: ubuntu-22.04
    # Export Docker image name used by dependent jobs
    outputs:
      hw_image_name: ${{ steps.image_name.outputs.hw_image_name }}
      sw_image_name: ${{ steps.image_name.outputs.sw_image_name }}
    steps:
      - name: Define Docker image name
        id: image_name
        # To satisfy Docker tag naming requirements, we replace all slashes
        # in the ref name with hyphens and convert the repository name to lowercase.
        run: |
          SANITIZED_REF_NAME="${GITHUB_REF_NAME//\//-}"
          echo "Sanitized GITHUB_REF_NAME: $SANITIZED_REF_NAME"
          SANITIZED_REPO_NAME="$(echo "${GITHUB_REPOSITORY}" | tr '[:upper:]' '[:lower:]')"
          echo "Sanitized GITHUB_REPOSITORY: $SANITIZED_REPO_NAME"
          HW_IMAGE_NAME="ghcr.io/${SANITIZED_REPO_NAME}-hw:${SANITIZED_REF_NAME}"
          SW_IMAGE_NAME="ghcr.io/${SANITIZED_REPO_NAME}-sw:${SANITIZED_REF_NAME}"
          echo "HW image name: $HW_IMAGE_NAME"
          echo "SW image name: $SW_IMAGE_NAME"
          {
            echo "hw_image_name=$HW_IMAGE_NAME"
            echo "sw_image_name=$SW_IMAGE_NAME"
          } >> $GITHUB_OUTPUT
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          docker-images: false
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: docker/setup-buildx-action@v3
      - name: GHCR Log-in
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Build and push hardware container
      - name: Build and push (hw container)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: util/container/Dockerfile
          target: snitch_cluster-hw
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: ${{ steps.image_name.outputs.hw_image_name }}
      # Build and push software container
      - name: Build and push (sw container)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: util/container/Dockerfile
          target: snitch_cluster-sw
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: ${{ steps.image_name.outputs.sw_image_name }}

  ########
  # Docs #
  ########

  build-docs:
    name: Build documentation
    runs-on: ubuntu-22.04
    needs: build-docker
    container:
      image: ${{ needs.build-docker.outputs.hw_image_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Build docs
        run: make docs

  deploy-docs:
    name: Deploy documentation
    runs-on: ubuntu-22.04
    needs: build-docker
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    container:
      image: ${{ needs.build-docker.outputs.hw_image_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      # For some reason, the checkout is done by a different user
      # than that deploying to Github (root, possibly due to Docker).
      # So we need to set the repository as a safe directory.
      - name: Git config safe.directory
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Generate documentation sources
        run: |
          make doc-srcs
          make doxygen-docs
      - name: Build and deploy documentation
        run: mkdocs gh-deploy --force

  #####################
  # Python unit tests #
  #####################

  pytest:
    name: Python unit tests
    runs-on: ubuntu-22.04
    needs: build-docker
    container:
      image: ${{ needs.build-docker.outputs.hw_image_name }}
    steps:
      - uses: actions/checkout@v4
      - name: Run pytest
        run: pytest

  ##############################################
  # Simulate SW on Snitch Cluster w/ Verilator #
  ##############################################

  snitch-cluster-vlt:
    name: Build Snitch Cluster w/ Verilator
    runs-on: ubuntu-22.04
    needs: build-docker
    container:
      image: ${{ needs.build-docker.outputs.hw_image_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Hash Verilator prerequisites
        id: verilator-hash
        uses: colluca/pymakeutils@v1.2.0
        with:
          target: verilator
          flags: --recursive
      - name: Set up cache for Verilator build
        id: verilator-cache
        uses: actions/cache@v4
        with:
          path: target/sim/build/bin
          key: verilator-${{ steps.verilator-hash.outputs.hash }}
          restore-keys: |
            verilator-
      - name: Build Hardware
        if: steps.verilator-cache.outputs.cache-hit != 'true'
        run: |
          make CFG_OVERRIDE=cfg/github-ci.json VLT_JOBS=1 verilator

  sw-snitch-cluster-vlt:
    name: Simulate SW on Snitch Cluster w/ Verilator
    runs-on: ubuntu-22.04
    needs: build-docker
    container:
      image: ${{ needs.build-docker.outputs.sw_image_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Build Software
        run: |
          make sw -j
      - name: Run Tests
        working-directory: test
        run: |
          ../util/experiments/run.py run.yaml --simulator verilator -j
          ../util/experiments/run.py riscv_tests_isa.yaml --simulator verilator -j
      - name: Annotate traces
        # Build the traces using the --permissive flag, since the Verilator
        # testbench does not wait until all the instructions are retired
        # (compiler introduces few instructions after exit routine).
        run: |
          make SIM_DIR=./test/runs/simple DEBUG=ON annotate -j

  ######################
  # Sources Up-to-Date #
  ######################

  sources-up-to-date:
    name: Check Sources Up-to-Date
    runs-on: ubuntu-22.04
    needs: build-docker
    container:
      image: ${{ needs.build-docker.outputs.hw_image_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Generate opcodes
        run: |
          ./util/clustergen/generate-opcodes.sh
      - name: Generate RTL sources
        run: |
          make rtl
      # For some reason, the checkout is done by a different user,
      # than that running `git diff` (root, possibly due to Docker).
      # So we need to set the repository as a safe directory.
      - name: Git config safe.directory
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Diff porcelain
        uses: mmontes11/diff-porcelain@v0.0.1
        with:
          message: Found differences, please update all sources
